.featured{
height: 400px;
display: flex;
justify-content: center;
background-color: rgb(3, 85, 3);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
width: 100%;
display: flex;
align-items: center;
}
.left{
    display: flex;
    flex-direction: column; 
    gap: 30px;
    margin: 70px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
}
.searchInput{
    display: flex;
    gap: 20px;
}
.search input{
    outline: none;
    border: none;
}
.search img{
    height: 20px;
    width: 20px;
    margin: 10px;
}
.search button{
    width: 120px;
    height: 50px;
    color: black;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(1, 93, 1);
    
}
button:hover{
    background-color:rgb(5, 102, 5);
    border-color:rgb(5, 102, 5)n;
}

.popular{
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}
.popular button{
    width: 100px;
    height: 25px;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    border:1px solid white;
    padding: 5px 10px;
}

.right{
    display: flex;
    align-items: center;
}
.right img{
    height: 400px;
    object-fit: contain;
    margin-right: 40px;
}

