.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 92, 1);
    width: 100%;
    padding: 10px 0px;
    transition: 0.3s ;
    position: sticky;
    top: 0;
}
.navbar active{
    background-color: white;
}
.container {
    display: flex;
    justify-content: space-between ;
} 
.logo {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 30px;
     font-weight: bold;
     margin-left: 20px;
 }
 .dot{
    color:green
 }
  
.links {
        display: flex;
        gap: 20px; 
        align-items: center;
        margin-right: 20px;
      }
.user{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    position: relative;
}
.options{
    width: 100px;
    color: gray;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links button{
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}
button:hover{
    background-color: green;
    border-color: green;
}
hr{
    width: 100%;
    border: 0.5px solid lightgray;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 300;
    color: gray;
}
    
  